* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: var(--font-family-sans);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-family-raleway);
    font-size: 36px;
    line-height: 42px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*sekcja header*/
header {
    height: 70px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
}

.logo {
    text-align: left;
    font-size: 32px;
    font-family: var(--font-family-raleway);
    font-weight: 300;
    color: var(--color-primary);
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.header__nav {
    display: flex;
}

.nav__element {
    padding: 0 26px;
}

.nav__link {
    color: var(--color-grey);
    font-family: var(--font-family-sans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    padding: 28px 18px 22px;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/*sekcja opening*/

.opening {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opening__bg {
    width: 100%;
    height: auto;
}

.container__opening {
    margin-top: 130px;
    text-align: center;

}

.opening__header {
    font-family: var(--font-family-raleway);
    font-size: 49px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 20px;
}

.opening__content {
    margin-top: 20px;
    margin-bottom: 38px;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-family-sans);
    font-weight: 400;
    color: var(--color-black);
}

.opening__btn {
    width: 440px;
    height: 67px;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    text-align: center;
    line-height: 67px;
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
}

/*sekcja statystyka */

.stats {
    width: 100vw;
}

.stats__header {
    padding: 100px 0;
}

.stats__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 140px;
}

.stats__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-raleway);
}

.stats__single > div {
    padding: 10px 0;
    text-align: center;
}

.circle {
    position: relative;
    width: 63px;
    height: 63px;
    background-color: transparent;
    border-radius: 50%;
}

.stats__img {
    position: absolute;
}

.stats__single:nth-child(1) .circle {
    background-color: var(--color-redish);
}

.stats__single:nth-child(3) .circle {
    background-color: var(--color-green);
}

.stats__single:nth-child(2) .circle {
    background-color: var(--color-primary);
}

.stats__single:nth-child(1) .stats__img {
    bottom: 4px;
    left: 45%;
}

.stats__single:nth-child(2) .stats__img {
    top: 14px;
    left: 47%;
}

.stats__single:nth-child(3) .stats__img {
    top: 6px;
    left: 50%;
}

.stats__nr {
    font-family: var(--font-family-raleway);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;
    color: var(--color-black);
    line-height: 24px;
}

.stats__description {
    font-family: var(--font-family-raleway);
    font-size: 17px;
    font-weight: 400;
    color: var(--color-grey);
    line-height: 20px;
}

/*sekcja benefity*/

.benefit {
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.container {
    max-width: 1124px;
    margin: 0 auto;
}

.benefit__container {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.benefit__single {
    height: 370px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit__single__notebook {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefit__single__smartphone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.benefit__single__trumpet {
    flex: 2 1 auto;
}

.benefit__text {
    position: relative;
    box-sizing: content-box;
    max-width: 416px;
    margin: 91px 36px;
}

.benefit__single__notebook .benefit__text::before {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-redish);
    width: 328px;
    top: 188px;
}

.benefit__single__smartphone .benefit__text::before {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-primary);
    width: 328px;
    top: 230px;
}

.benefit__single__trumpet .benefit__text::before {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-green);
    width: 328px;
    top: 230px;
}


.benefit__content {
    padding-top: 30px;
    padding-bottom: 50px;
}

.benefit__figure {
    position: relative;
    width: 100vw;
}

.benefit__figure img {
    position: relative;
    z-index: 2;
}

.benefit__single__notebook .benefit__figure img {
    width: 386px;
    height: auto;
    margin: 113px 117px 38px 169px;
    position: relative;
    z-index: 2;
}

.benefit__single__notebook .benefit__figure::before {
    content: "";
    position: absolute;
    right: 114px;
    top: 78px;
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 35px;
    transform: rotate(45deg);
}

.benefit__single__smartphone .benefit__figure img {
    width: 426px;
    height: auto;
    margin: 29px 192px 13px 70px;
}

.benefit__single__spartphone .benefit__text {
    margin: 70px 0;
}

.benefit__single__smartphone .benefit__figure::before {
    content: "";
    position: absolute;
    left: 70px;
    top: 10px;
    width: 320px;
    height: 320px;
    margin-right: 106px;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: rotate(45deg);
}


.benefit__img {
    position: absolute;
    width: 386px;
    height: 219px;
}

.benefit__picture-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 60px;
    background-color: var(--color-green);
}

.benefit__img-bottom {
    width: 295px;
    height: auto;
    margin: 98px 81px 64px 61px;
}

.benefit__double {
    display: flex;
    justify-content: space-between;
}

/*sekcja pricing*/

.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.pricing__boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.pricing__box {
    width: 370px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    border: 1px solid #FB3B64;
    border-radius: 18px;
}

.pricing__details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
}

.pricing__type {
    margin-top: 34px;
    font-family: var(--font-family-raleway);
    font-size: 20px;
    line-height: 1px;
    font-weight: 700;
    color: var(--color-black);
}

.pricing__price {
    margin-top: 25px;
    font-size: 46px;
    font-family: var(--font-family-sans);
    font-weight: 300;

    color: #07ACE6;
}

.pricing__limited {
    margin-top: 15px;
    font-family: var(--font-family-raleway);
    font-size: 12px;
    font-weight: 700;
    color: #13253B;
}

.pricing__items {
    margin-top: 69px;
    margin-bottom: 20px;
    text-align: center;
}

.pricing__item {
margin-bottom: 20px;
    font-family: var(--font-family-sans);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}

.pricing__box--proffesional .pricing__details {
    font-size: 21px;
}

.pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}
.pricing__box--basic .btn {
    position: relative;
    bottom: -25px;
    font-size: 18px;
    background-color: var(--color-redish);
}

.pricing__box--proffesional .btn {
    position: relative;
    bottom: -65px;
    font-size: 18px;
    background-color: var(--color-primary);
}

.pricing__box--premium .btn {
    position: relative;
    bottom: -25px;
    font-size: 18px;
    background-color: var(--color-green);
}

.pricing__box--basic {
    border: 1px solid var(--color-redish);
}

.pricing__box--basic .pricing__price {
    margin-bottom: 30px;
    color: var(--color-redish);
}

.pricing__box--premium .pricing__price {
    margin-bottom: 30px;
    color: var(--color-green);
}

.pricing__box--proffesional {
    width: 400px;
    margin: 0 40px;
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__box--premium {
    border: 1px solid var(--color-green);
}

.pricing__box--proffesional .pricing__details {
    margin:40px 0;
}

/*sekcja contact*/

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 100px 100px;
}

.contact__column {
    width: 50%;
}


.contact__title {
    margin-bottom: 22px;
    font-size: 49px;
    line-height: 57px;
}

.contact__instructions {
    margin-bottom: 40px;
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
}

.contact__details {
  display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 600;
    color: var(--color-grey);
}

.contact__details a {
    margin-right: 20px;
    color: var(--color-grey);
}

/*Form*/

.form {
   display: flex;
    flex-direction: column;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__input {
    border: none;
    border-bottom: 1px solid #95989A;
}
.form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 15px;
    letter-spacing: 3px;
    font-size: 11px;
}

.name {
    margin-top: 30px;
    margin-bottom: 40px;
}

.email {
    margin-top: 30px;
    margin-bottom: 30px;
}
.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
}

 .form__checkbox input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
}

.form__checkbox input:checked ~ .checkbox{
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
    background-size: 50%;
}

.consent__text {
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn {
    align-self: flex-end;
    padding: 20px 97px;
    margin-bottom: 20px;
    font-size: 13px;
}
/*Footer*/

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__info a {
    text-align: left;
    font-size: 26px;
    font-family: var(--font-family-raleway);
    font-weight: 300;
    color: var(--color-primary);
}

.footer__info span {
    font-family: var(--font-family-sans);
    font-size: 11px;
    font-weight: 400;
    color: var(--color-grey);
}

.footer__icons a:first-of-type {
    margin-right: 20px;
}