$button--radius: 35px;

body {
  font-family: $font-family-sans;
  width: 100vw;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $font-family-raleway;
  font-size: 2.25rem;
  font-weight: 400;
}

ul {
  list-style: none ;
}

.container {
  width: 1124px;
  margin: 0 auto;
  @include desktop {
    width: 100%;
    padding: 0 25px;
  }
}


a {
  text-decoration: none;
}

h2 {
  font-family: var(--font-family-raleway);
  font-size: 36px;
  line-height: 42px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.btn {
  color: $color-white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button--radius;
  border: none;
}

.btn--primary {
  background-color: $color-primary;
  border-radius: $button--radius;
  box-shadow: 3px 10px 14px $color-primary-shadow;
}

//.btn--redish {
//  background-color: $color-redish;
//}
//
//.btn--green {
//  background-color: $color-green;
//}
//
.btn--large {
  padding: 22px 155px;
}

.logo {
  font-family: $font-family-raleway;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}